.userDetails{
  width:60%;
  margin:0px auto;
  padding: 70px 60px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.edit{
  margin-bottom: 20px;
  text-align: center;
}
.topBar{
  width:60%;
  margin:80px auto 10px;
  background-color: #cfead9;
  padding: 5px 10px;
}
.topBar span{
  font-size: 20px;
}
.userDetails Button{
  width: 100%;
  margin-top: 30px;
}

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
  display: none !important;
}
